@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
	--background-color: #161d27;
	--light-background: #1f2d3d;
	--text-color: #d4e0f1;

	--accent-color: #94a8ff;

	--accent-red: #ff5f6d;
	--accent-green: #a8ff78;
	--accent-blue: #78d6ff;
	--accent-yellow: #ffff78;
	--accent-orange: #ffa878;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Titillium Web";
	overflow: hidden;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-weight: 400;
	position: absolute;
	margin: 1em;
}

.button {
	background-color: var(--light-background);
	padding: 0.5em;
	border-radius: 0.5em;
	width: 100%;
	cursor: pointer;
}

div {
	margin: 1em;
}

p {
	margin: 0.5em 2em;
}

.node {
	fill: var(--accent-red);
}
.node text {
	fill: var(--text-color);
	font-weight: 600;
}

.link {
	stroke: var(--accent-orange);
	stroke-width: 0.5em;
}
