:root {
	scroll-behavior: smooth;
}

:root[color-mode="light"] {
	--c-brand: #9575cd;
	--c-brand-light: #b39ddb;

	--c-white: #fafbfd;
	--c-white-dark: #f4f4f4;
	--c-black: #1a1a1a;
	--c-divider-light: #e5e5e5;
	--c-divider-dark: #1a1a1a;
	--c-text-light-1: #404040;
	--c-text-light-2: #595959;
	--c-text-light-3: #808080;
	--code-inline-bg-color: #d4dde60d;
}

:root[color-mode="light"] .custom-block.details {
	background-color: #eceff4;
}
:root[color-mode="light"] .custom-block.info {
	border-color: #1486c9;
	background-color: #eceff4;
}
:root[color-mode="light"] .custom-block.tip {
	border-color: #4db6ac;
	background-color: #eceff4;
}
:root[color-mode="light"] .custom-block.warning {
	border-color: #f49619;
	background-color: rgba(#f49619, 0.1);
}
:root[color-mode="light"] .custom-block.danger {
	border-color: #f44336;
	background-color: rgba(#f44336, 0.1);
}

:root[color-mode="light"] tr:nth-child(2n) {
	background-color: #eceff4;
}

/* dark mode */
:root[color-mode="dark"] {
	--c-brand: #9575cd;
	--c-brand-light: #b39ddb;

	--c-white: #1a1a1a;
	--c-white-dark: #1e2023;
	--c-black: #f4f4f4;
	--c-divider-light: #303030;
	--c-divider-dark: #e5e5e5;
	--c-text-light-1: #f4f4f4;
	--c-text-light-2: #e5e5e5;
	--c-text-light-3: #cccccc;
	--code-inline-bg-color: #d4dde60d;
}

:root[color-mode="dark"] .custom-block.details {
	background-color: #222326;
}
:root[color-mode="dark"] .custom-block.info {
	border-color: #37a7dd;
	background-color: #222326;
}
:root[color-mode="dark"] .custom-block.tip {
	border-color: #4db6ac;
	background-color: #222326;
}
:root[color-mode="dark"] .custom-block.warning {
	color: #f57c00;
	border-color: #f57c00;
	background-color: #665b264d;
}
:root[color-mode="dark"] .custom-block.danger {
	color: #d32f2f;
	border-color: #d32f2f;
	background-color: #6846464d;
}

:root[color-mode="dark"] tr:nth-child(2n) {
	background-color: #222326;
}
