body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	overflow: hidden;
}

svg {
	transition: background-color 0.3s ease;
	padding: 0;
	margin: 0;
}
svg.dark {
	background-color: #151618;
}

.config {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	color: #000;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100vh;
	width: 138px;
	overflow-y: auto;
	border-left: 1px solid #ccc;
}
.config.dark {
	color: #fff;
}

.config h3 {
	margin: 0 0 10px;
}
.config .group {
	padding: 15px 0;
	border-bottom: 1px solid #cccccc88;
}

.config input,
.config select,
.config button {
	font-family: monospace;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: inherit;
	width: 120px;
}
.config button {
	width: 100%;
}

.config .half {
	width: 60px;
	margin: 0 1.5px;
}
.config .third {
	width: 37px;
	margin: 0 1.5px;
}
.config .quarter {
	width: 30px;
}
