$node-fill-color: #ffffff;
$node-stroke-color: #b3b3b3;

.red {
	fill: #f44336;
	&.lighten-5 {
		fill: #ffebee;
	}
	&.lighten-4 {
		fill: #ffcdd2;
	}
	&.lighten-3 {
		fill: #ef9a9a;
	}
	&.lighten-2 {
		fill: #e57373;
	}
	&.lighten-1 {
		fill: #ef5350;
	}
	&.darken-1 {
		fill: #e53935;
	}
	&.darken-2 {
		fill: #d32f2f;
	}
	&.darken-3 {
		fill: #c62828;
	}
	&.darken-4 {
		fill: #b71c1c;
	}
}
