$node-fill-color: #ffffff;
$node-stroke-color: #b3b3b3;
$foreground-color: #383838;

.node {
	fill: $node-fill-color;
	stroke: $node-stroke-color;
	stroke-miterlimit: 10;
}

.link {
	.label {
		font-size: 0.8em;
		font-family: "Roboto";
		font-weight: 400;
		fill: $foreground-color;
	}

	.edge {
		stroke: $node-stroke-color;
		fill: none;
		stroke-width: 2;

		&.solid {
			stroke-width: 2;
			stroke-dasharray: none;
		}
		&.dotted {
			stroke-width: 2.5;
			stroke-dasharray: 4, 10;
		}
		&.dashed {
			stroke-width: 2;
			stroke-dasharray: 10, 10;
		}
	}

	.arrow {
		stroke: $node-stroke-color;
		fill: none;
		stroke-width: 2;
		stroke-dasharray: none;
	}
}
