.hexagon-vehicle {
	transition: fill 0.3s ease-in-out;
}

.hexagon-vehicle.background {
	fill: #ffffffff;
	stroke: var(--node-stroke-color);
	stroke-miterlimit: 10;
}

.hexagon-vehicle.background.one {
	fill: var(--state-1);
}

.hexagon-vehicle.header {
	fill: #bdff8a;
	stroke: var(--node-stroke-color);
	stroke-miterlimit: 10;
}

.hexagon-vehicle.title {
	text-anchor: middle;
	fill: var(--foreground-color);
	stroke: none;
	font-family: "Roboto";
	font-size: 110px;
}

.hexagon-vehicle.title.large {
	font-size: 180px;
	font-weight: bold;
	fill: #ffffff;
}

.hexagon-vehicle.subtitle {
	text-anchor: middle;
	fill: var(--foreground-color);
	stroke: none;
	font-family: "Roboto";
	font-weight: 200;
	font-size: 70px;
}

.hexagon-vehicle.status {
	fill: #00000000;
	stroke: var(--node-stroke-color);
	stroke-miterlimit: 10;
}

.hexagon-vehicle.status.zero {
	fill: var(--state-0);
}
.hexagon-vehicle.status.one {
	fill: var(--state-1);
}
.hexagon-vehicle.status.two {
	fill: var(--state-2);
}
.hexagon-vehicle.status.three {
	fill: var(--state-3);
}
.hexagon-vehicle.status.four {
	fill: var(--state-4);
}
.hexagon-vehicle.status.five {
	fill: var(--state-5);
}
.hexagon-vehicle.status.six {
	fill: var(--state-6);
}
.hexagon-vehicle.status.seven {
	fill: var(--state-7);
}
.hexagon-vehicle.status.eight {
	fill: var(--state-8);
}
.hexagon-vehicle.status.nine {
	fill: var(--state-9);
}

.hexagon-vehicle.headline {
	text-anchor: middle;
	fill: var(--node-fill-color);
	stroke: none;
	font-family: "Orbitron";
	font-weight: 300;
	font-size: 140px;
}
